.Triangle_rouge
{
    width: 0;
    height: 0;
    border-top: 30mm solid transparent;
    border-bottom: 30mm solid transparent;
    border-left: 32mm solid rgb(243, 72, 4);
}

.Triangle_Blue
{
    width: 0;
    height: 0;
    border-left: 30mm solid transparent;
    border-right: 30mm solid transparent;
    border-top: 32mm solid rgb(162, 3, 253);
}

.Triangle_jaune
{
    width: 0;
    height: 0;
    border-top: 10mm solid transparent;
    border-bottom: 10mm solid transparent;
    border-right: 16mm solid rgb(153, 238, 7);
}

.Triangle_haut
{
    width: 0;
    height: 0;
    border-left: 10mm solid transparent;
    border-right: 10mm solid transparent;
    border-bottom: 16mm solid rgb(4, 211, 248);
}

.Triangle_bas
{
    width: 0;
    height: 0;
    border-left: 10mm solid transparent;
    border-right: 10mm solid transparent;
    border-top: 16mm solid rgb(4, 211, 248);
}

.Triangle_violet
{
    width: 0;
    height: 0;
    border-left: 10mm solid transparent;
    border-right: 10mm solid transparent;
    border-bottom: 16mm solid rgb(248, 4, 199);
}

.Triangle_rectangle
{
    width: 0;
    height: 0;
    border-left: 10mm solid transparent;
    border-right: 0mm solid transparent;
    border-bottom: 10mm solid rgb(4, 248, 98);
}

.Parallelogramme 
{
    width  : 100px;
    height : 0;
    border-top  : 50px solid green;
    border-left : 20px solid transparent;
    position : relative;
}

.Parallelogramme::after 
{
    width  : 0;
    height : 0;
    content: '';
    border-bottom : 50px solid green;
    border-right  : 20px solid transparent;
    border-left   : 20px solid transparent;
    position : absolute;
    top  : -50px;
    right: -20px;
}